.default {
    display: flex;
}

.spaced {
    display: flex;
    justify-content: space-around;
}

.centered {
    display: flex;
    justify-content: left;
    align-items: center;
}

.expanded {
    display: flex;
    flex-direction: row-reverse;
}

.expanded-item {
    flex-grow: ;
}

.expanded-item2 {
    flex-grow: 20;
}
.column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.right-aligned {
    display: flex;
    justify-content: flex-end;
}

.bottom-centered {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.expand-one {
    flex-grow: 1;
}























  /* CSS rules below are just to set up this demo, don't worry about them! */
  
  div {
    width: 100px;
    height: 60px;
    border: 1px solid black;
    font-size: 20px;
    margin: 0 10px;
  }
  
  section {
    padding: 20px;
    border: 1px solid blue;
    margin: 50px;
    height: 100px;
    width: 700px;
  }
  
  p {
    margin: 0 0 -45px 50px;
  }